<footer class="py-5 bg-dark" th:templates="footer">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; Test 2019</p>
	</div>
	<!-- /.container -->

	<!-- Angular JavaScript -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script> -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
</footer>