<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="header :: head"></head>
  
  <body ng-app="myApp">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:replace="nav :: nav"></nav>

    <!-- Page Content -->
    <div class="container" ng-controller="Ctrlr as ctrl">

      <div class="row">
      
        <div class="col-lg-12">

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Cube Summation
            </div>
            <div class="card-body">
            <div class="hackdown-content"><style id="MathJax_SVG_styles">.MathJax_SVG_Display {text-align: center; margin: 1em 0em; position: relative; display: block!important; text-indent: 0; max-width: none; max-height: none; min-width: 0; min-height: 0; width: 100%}
				.MathJax_SVG .MJX-monospace {font-family: monospace}
				.MathJax_SVG .MJX-sans-serif {font-family: sans-serif}
				.MathJax_SVG {display: inline; font-style: normal; font-weight: normal; line-height: normal; font-size: 100%; font-size-adjust: none; text-indent: 0; text-align: left; text-transform: none; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; direction: ltr; max-width: none; max-height: none; min-width: 0; min-height: 0; border: 0; padding: 0; margin: 0}
				.MathJax_SVG * {transition: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none}
				.mjx-svg-href {fill: blue; stroke: blue}
				</style><svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><defs id="MathJax_SVG_glyphs" /></svg>				
				<p>You are given a 3-D Matrix in which each block contains 0 initially. The first block is defined by the coordinate (1,1,1) and the last block is defined by the coordinate (N,N,N). There are two types of queries.<br>	
					UPDATE x y z W</p>				
				<p>updates the value of block (x,y,z) to W.</p>				
				<pre><code>QUERY x1 y1 z1 x2 y2 z2</code></pre>				
				<p>calculates the sum of the value of blocks whose x coordinate is between x1 and x2 (inclusive), y coordinate between y1 and y2 (inclusive) and z coordinate between z1 and z2 (inclusive). </p>
				
				<p><strong>Input Format</strong> <br>
				The first line contains an integer T, the number of test-cases. T testcases follow. <br>
				For each test case, the first line will contain two integers N and M separated by a single space. <br>
				N defines the N * N * N matrix. <br>
				M defines the number of operations. <br>
				The next M lines will contain either  </p>
				
				<p>
				1. UPDATE x y z W<br>
				2. QUERY  x1 y1 z1 x2 y2 z2 
				</p>				
				<p><strong>Output Format</strong> <br>
				Print the result for each QUERY.</p>
				
				<p><strong>Constrains</strong> <br>
				1 &lt;= T &lt;= 50 <br>
				1 &lt;= N &lt;= 100 <br>
				1 &lt;= M &lt;= 1000 <br>
				1 &lt;= x1 &lt;= x2 &lt;= N <br>
				1 &lt;= y1 &lt;= y2 &lt;= N <br>
				1 &lt;= z1 &lt;= z2 &lt;= N <br>
				1 &lt;= x,y,z &lt;= N <br>
				-10<sup>9</sup> &lt;= W &lt;= 10<sup>9</sup></p>				
				<p><strong>Sample Input</strong></p>
				<p>
				2<br>
				4 5<br>
				UPDATE 2 2 2 4<br>
				QUERY 1 1 1 3 3 3<br>
				UPDATE 1 1 1 23<br>
				QUERY 2 2 2 4 4 4<br>
				QUERY 1 1 1 3 3 3<br>
				2 4<br>
				UPDATE 2 2 2 1<br>
				QUERY 1 1 1 1 1 1<br>
				QUERY 1 1 1 2 2 2<br>
				QUERY 2 2 2 2 2 2<br>
				</p>			
				<p><strong>Sample Output</strong></p>
			    <p>
			    4 <br>
			    4<br>
			    27<br>
			    0<br>
			    1<br>
			    1<br>
			    </p>
				<p><strong>Explanation</strong> <br>
				First test case, we are given a cube of 4 * 4 * 4 and 5 queries.  Initially all the cells (1,1,1) to (4,4,4) are 0. <br>
				<code>UPDATE 2 2 2 4</code> makes the cell (2,2,2) = 4 <br>
				<code>QUERY 1 1 1 3 3 3</code>. As (2,2,2) is updated to 4 and the rest are all 0. The answer to this query is 4. <br>
				<code>UPDATE 1 1 1 23</code>. updates the cell (1,1,1) to 23. 
				<code>QUERY 2 2 2 4 4 4</code>. Only the cell (1,1,1) and (2,2,2) are non-zero and (1,1,1) is not between (2,2,2) and (4,4,4). So, the answer is 4. <br>
				<code>QUERY 1 1 1 3 3 3</code>. 2 cells are non-zero and their sum is 23+4 = 27. </p>
			</div>
            <hr>
			<form ng-submit="ctrl.submit()" name="myForm">
				<div class="form-group row">
					<label for="codigo" class="col-2 col-form-label">Datos de Entrada</label>
					<div class="col-10">
						<textarea id="form7" class="md-textarea form-control" rows="3" ng-model="ctrl.entrada" required></textarea>
						<div class="has-error" ng-show="myForm.$dirty">
                             <span ng-show="myForm.cliente.$error.required">El campo es requerido</span>
                         </div>
					</div>
				</div>
				<div class="form-group row">
					<label for="codigo" class="col-2 col-form-label">Datos de Salida</label>
					<div class="col-10">
						<textarea id="form7" class="md-textarea form-control" rows="3" ng-model="ctrl.salida"></textarea>
					</div>
				</div>
				<hr>
				<div class="form-actions floatRight">
					<input type="submit"  value="Calcular" class="btn btn-info btn-sm">                
                 </div>
			</form>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-lg-12 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark" th:replace="footer :: footer"></footer>

    <!-- Angular JavaScript -->
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/service/service.js}"></script>
    <script th:src="@{/js/controller/controller.js}"></script>
  </body>
</html>